.round__add-button {
  bottom: 0;
  right: 0;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  padding-top: 0px;
  height: auto;
  width: 100px;
  margin: 5%;
  cursor: pointer;
  border-radius: 50%;
  float: right;
  position: fixed;
  z-index: 10000;
  &[class~=theme_color0]{
    border: 1px solid $transparent_color;
    background-color: $background_color_theme0;
    color: $white_color;
  }
  &[class~=theme_color1]{
    border: 1px solid #000000;
    background-color: $background_color_theme1;
    color: $black_color;
  }
}
// button
button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

// control 

.control {
  margin: 1rem 0;
  display: block;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  display: block;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}
// info cards /////////////////////////////
.icon {
  background: none;
  background-repeat: no-repeat !important;
  height: 12vh !important;
  width: 12vh !important; 
  margin: 2vh;
  min-width: 16vh !important;
  min-height: 16vh !important;
  max-width: 16vh !important;
  max-height: 16vh !important;
  position: absolute;
  right: 0;
  padding: 0;
  background-size: 100% auto !important;
}
.info_card__left {
  padding: 2vh;
}