.round__add-button {
  bottom: 0;
  right: 0;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  padding-top: 0px;
  height: auto;
  width: 100px;
  margin: 5%;
  cursor: pointer;
  border-radius: 50%;
  float: right;
  position: fixed;
  z-index: 10000;
  &[class~=theme_color0]{
    border: 1px solid $transparent_color;
    background-color: $background_color_theme0;
    color: $white_color;
  }
  &[class~=theme_color1]{
    border: 1px solid #000000;
    background-color: $background_color_theme1;
    color: $black_color;
  }
}
// button
.button {
  font: inherit;
  &[class~=theme_color0]{
    border: 1px solid $transparent_color;
    background-color: $background_color_theme0;
    color: $white_color;
  }
  &[class~=theme_color1]{
    border: 1px solid;
    background-color: $background_color_theme1;
    color: $black_color;
  }
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  &[class~=theme_color0]{
    // border: 0px;
    background: $background_color_lighter_theme0;
    border-color: $background_color_lighter_theme0;
  }
  &[class~=theme_color1]{
    border: 1px solid !important;
    background: $background_color_lighter_theme1;
    border-color: $background_color_lighter_theme1;
  }
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
// card (making image square) 
.card__image__wrap,.card__content__wrap {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  padding: 10px;
  position: relative;
  &[class~=theme_color0]{
    border: 1px solid !important;
    background: $white_color;
    border-color: $black_color;
  }
  &[class~=theme_color1]{
    border: 1px solid !important;
    background: $background_color_lighter_theme1;
    border-color: $background_color_lighter_theme1;
  }
}
.card__content__wrap{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.card__image__wrap{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
}
.card__image__wrap::after{
  content: "";
  display: block;
  padding-bottom: 60%;
}
.card__image{
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}
.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

// control 

.control {
  margin: 1rem 0;
  display: block;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  display: block;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}
// info cards /////////////////////////////
.icon {
  background: none;
  background-repeat: no-repeat !important;
  height: 12vh !important;
  width: 12vh !important; 
  margin: 2vh;
  min-width: 16vh !important;
  min-height: 16vh !important;
  max-width: 16vh !important;
  max-height: 16vh !important;
  position: absolute;
  right: 0;
  padding: 0;
  background-size: 100% auto !important;
}
.info_card__left {
  padding: 2vh;
}
.info_card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  &[class~=theme_color0]{
    border: 0px;
    background: $white_color;
  }
  &[class~=theme_color1]{
    border: 1px solid !important;
    background: $background_color_lighter_theme1;
    border-color: $background_color_lighter_theme1;
  }
  min-height: 20vh;
}