
$primary-color: #ff3863;
$background_color: #009688;
$background_color_lighter: #03c0ad;
$white_color: #ffffff;
$semi_white_color: #d3d3d3;
$main-text-color: #000000;

// body{
//     background-color: $background_color !important;
//     color: coral !important;
// }