.container__example-page {
  width: 100%;
  margin-top: 100px;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin: 5%;
  margin-top: 100px;
  text-align: left;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: margin-left;
  transition-timing-function: ease;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.example__short-desc {
  overflow: hidden;
  max-height: 5ch;
}
.example__item {
  padding: 5%;
  @media (max-width: 768px) and (min-width: 0px) {
    width: 100% !important;
    max-width: 100% !important;
  }
  @media (max-width: 1536px) and (min-width: 768px) {
    width: 50% !important;
    max-width: 50% !important;
  }
  @media (min-width: 1536px) {
    width: 33% !important;
    max-width: 33% !important;
  }
}
.example__paginator {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 108px;
  line-height: 22.5px;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
