html {
  box-sizing: border-box;
  overflow-x: hidden;
}
.page__min-height{
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
}
// //////////////////////////////////////////////////////

.width-100 {
  width: 100%;
}
.backdrop-container {
  width: 100vw;
  //   height: 100vh;
  background-color: $backdrop_color;
  position: fixed; /* Sit on top of the page content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.overlay-container {
  position: fixed; /* Sit on top of the page content */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
  &[class~="theme_color0"] {
    background: $semi_white_color !important;
  }
  &[class~="theme_color1"] {
    background: $background_color_lighter_theme1 !important;
  }
}

.thumbnail {
  position: absolute;
  top: 0;
  z-index: -5000;
  width: 0px;
  height: 0px;
  img {
    object-fit: cover;
    width: 0px;
    height: 0px;
  }
}
