@import "index.scss";

body {
  background: $body_background_color;

  &[class~=theme_color0] {
    background: $body_background_color_theme0 !important;
  }
  &[class~=theme_color1] {
    background: $body_background_color_theme1 !important;
  }
}
