.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}
.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


//////////////////////////////////////@at-root

.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}
